{% extends 'base_generic.html' %}

{% load static %}
{% block title %}Список акций{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/action__detail.css' %}">{% endblock %}

{% block content %}
<body>
    <header class="header">
        <div style="margin-top: 50px" class="container">
                <div class="row justify__content__end">
                    <a href="{% url 'stock_user' %}" class="txt sizeText">Назад</a>
                </div>

                {% for st in stock_list %}
                <div class="container">
                    <div class="row">

                        <div class="header__img row col-3">
                            <div class="header__img__block"><img src="{{ st.image.url }}" alt="" class="header__logo"></div>
                            <div class="header__name__action sizeText">
                                <p class="header__text txt__info__digit sizeText">{{ st.name }}</p>
                            </div>

                        </div>


                        <div class="main__date__info main col-6 row justify__content__between">
                            <p class="main__date__info__openDate txt__info__digit sizeText"><span class="txt sizeText">стоимость</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{ st.price }} $ &nbsp&nbsp</p>
                            <a href="{% url 'buy_stock_user' st.pk %}" class="txt sizeText" style="color: green;"> Купить</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
    </header>
</body>
{% endblock %}