{% extends 'base_generic.html' %}

{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/buy_stock.css' %}">{% endblock %}
{% block title %}Покупка акции{% endblock %}

{% block content %}
        <body>
            <form action="" method="post">
                {% csrf_token %}

                <section class="sect col-6" id="parent_elem">
                    <span class="close" id="btn__click">&times;</span>
                    <h2 class="sect__title">Купить акцию</h2>
                    <div class="sect__block"><p class="sect__block__text">{{ your_model_obj.name }}</p></div>

                    <input type="text" class="sect__block__text sect__kol" placeholder="Введите количество акций" name="countStock">

                    <div class="row justify__content__center">
                        <input type="submit" class="sect__btn sect__title" value="Купить">
                    </div>

                </section>
            </form>

            {% if countStock == 'NoMany' %}
                <script type="text/javascript" src="{% url 'my_js' %}"  charset="utf-8"></script>
            {% endif %}


        </body>
{% endblock %}