{% extends 'base_generic.html' %}

{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/buy_stock.css' %}">{% endblock %}
{% block title %}Вывод средств{% endblock %}

{% block content %}
        <body>
        <form action="" method="post">
            {% csrf_token %}

            <section class="sect col-6" id="parent_elem">
                <h2 class="sect__title">Вывод средств</h2>

                <input type="text" class="sect__block__text sect__kol" placeholder="сумма для вывода"  name="withdraw">

                <div class="row justify__content__center">
                    <input type="submit" class="sect__btn sect__title" value="Вывести">

                </div>

            </section>
        </form>
        {% if withdraw == 'NoMany' %}

            <script type="text/javascript" src="{% url 'withdraw_js' %}"></script>
        {% endif %}

        </body>
{% endblock %}